body
{
    background-color: #fff;
}

h1
{
    font-family: "Tahoma";
    font-weight: bold;
    font-size: 18px;
}

hr {
  border: 1;
  color: #990000;
  height: 3px;
  background-color: #990000;
}


#titulo1{
    float:left;
    size: 80px;
}

#titulo2{
    float:left;    
    size: 20px;
}

#newrow{
    clear: both;
}

#error{
    background-color:#ff3300;
    text-color:#ff0000;
    height:30px;
    font-family:arial,verdana,times;
    font-size:14px;    
    padding: 5px;
}

#mensaje{
    color:#00a;
    text-align:left;
    font-family:arial,verdana,times;
    font-size:14px;
    width:100%;
    padding: 10px;
    font-weight:bold;
}

.tabla {
 width: 1200px;
 border-top:1px solid #ccc;
 border-left:1px solid #ccc;
 background-color:#eee;
 color: gray;
 text-align:center;
 font-family:arial,verdana,times;
 font-size:12px;
 }
.tabla p {
 clear:both;
 width: 100%;
 margin: 0;
}

.tabla .titulo1 {
 padding: 5px;
 background-color: #ddd;
 font-family:arial,verdana,times;
 float:left;
 width:600px;
 height: 30px;
 border-right: 1px solid #ccc;
 font-weight:bold;
 }

.tabla .titulo {
 padding: 5px;
 background-color: #ddd;
 font-family:arial,verdana,times;
 float:left;
 width:100px;
 height: 30px;
 border-right: 1px solid #ccc;
 font-weight:bold;
 }

.tabla .columna1 {
 padding: 5px;
 float:left;
 width:600px;
 height: 25px;
 border-right: 1px solid #ccc;
 border-bottom: 1px solid #ccc;
 text-align: left;
 } 

.tabla .columna {
 padding: 5px;
 float:left;
 width:100px;
 height: 25px;
 border-right: 1px solid #ccc;
 border-bottom: 1px solid #ccc;
 }